<div class="container">
    <div class="mb-3">
        <p-table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Edit</th>
                    <th>Title</th>
                    <th pSortableColumn="difficultyLevel">Difficulty</th>
                    <th pSortableColumn="pointValue">Points</th>
                    <th>Due date</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>
                        <button class="btn btn-primary" (click)="editTask(task)"> <!-- edit key + icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg>
                        </button>
                    </td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.difficultyLevel }}</td>
                    <td>{{ task.pointValue }}</td>
                    <td>{{ task.dueDate }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteTask(task.id)"> <!-- delete key + icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <button (click)="newTask()" class="btn btn-success">Add new task</button>

    <!-- form dialog (when creating / editting task) -->

    <p-dialog header="Add New Task" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">
        <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Title:</label>
                <input pInputText class="form-control" type="text" formControlName="title" />
            </div>
            <div class="mb-3">
                <label class="form-label">Difficulty Level:</label>
                <p-dropdown autoWidth="false" [options]="difficultyLevels" class="form-control"
                    formControlName="difficultyLevel" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="mb-3">
                <label class="form-label">Point Value:</label>
                <input pInputText class="form-control" type="number" min="0" formControlName="pointValue" />
            </div>
            <div class="mb-3">
                <label class="form-label">Due Date:</label>
                <input pInputText class="form-control" type="date" [min]="today | date: 'yyyy-MM-dd'"
                    formControlName="dueDate" />
            </div>
            <div class="d-flex justify-content-between mt- mx-2">
                <button [disabled]="!newTaskForm.valid" class="btn btn-success" type="submit">Submit</button>
                <button (click)="onCancel()" class="btn btn-danger" type="button">Cancel</button>
            </div>
        </form>
    </p-dialog>
</div>